.banner{
  display: flex;
}
.banner-title{
margin-top: 100px;
 margin-left: -500px;
 width: 270px;
color: white;
font-size: 40px;
font-weight: 600;
}
.some-text {
color: white;
position: absolute;
top: 250px;
right: 215px;
width: 300px;
}
.primary-btn{
    height: 30px;
    border-radius: 5px;
    color: blue;
    border: none;
    top: 330;
}