.titles{
    font-weight: 800;
    font-size: 40px;
 
}
/* all titles */

.banner{

  display: flex;
}
.banner-title{
margin-top: 100px;
 margin-left: -400px;
 width: 270px;
color: white;
font-size: 40px;
font-weight: 600;
}
.some-text {
color: white;
position: absolute;
top: 250px;
right: 130px;
width: 270px;
}
.primary-btn{
    height: 30px;
    border-radius: 2px;
    color: blue;
    border: none;
    margin-left: -210px;
    margin-top: 100px;
}
.container{
    color: rgb(91, 103, 116);
    font-size: 16px;
    margin-top: 24px;
}
.some-lists{
    color: rgb(88, 104, 121);
  
}
.some-list{
    display: flex;
    align-items: center;
    gap: 2px;
}
.some-paragraph{
    display: flex;
    margin: 100px 80px;
    gap: 134px;
}
.charset{
    margin-top: 150px;
}
.tick-icon{
    height: 17px;
    width: 17px;
}
/* other section---------------------------------- */
.other-title{
    text-align: center;
}
.My-Plans{
    display: flex;
    gap: 30px;
    justify-content: space-between;
    margin: 50px 200px;
}
/* my blogs---------------------------------------------------------- */
.blog-title{
    margin-top: 100px;
     text-align: center;
}
.my-blogs{
    display: flex;
    gap: 50px;
    margin: 70px 50px;
 
   
}
.my-blog{
   border: 2px solid blueviolet;
   padding: 20px;
   background-color: rgb(234, 227, 217);
   box-shadow:15px 15px 15px grey;
}